<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p class="text-center yellow-txt">We recommend People can connect to each other.</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="widget">
					<ul class="link-list">
						<li><a href="/pages/terms">Terms & Disclaimer</a></li>
						<li><a href="/pages/how">How to use</a></li>
						<li><a href="/pages/contact">Contact</a></li>
						<li><a href="/pages/about">About</a></li>
						<li><a href="/posts">Blog</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<p>Made for <i class="fa fa-heart" aria-hidden="true"></i>Connecting</p>
				<p>Copyright 2017 Socialio. All Rights Reserved.</p>
			</div>
		</div>
	</div>
</footer>
